{% extends "base.html" %}
<head>
    <script src='script.js' defer></script>
</head>
{% block title %}Análises{% endblock %}
{% block content %}
<div class="container mx-auto">
    <!-- Lista de Municípios -->
    <div class="grid grid-cols-2 gap-8" id="municipiosContainer">
        {% for municipio in municipios %}
            <a href="{{ url_for('show_municipio', municipio=municipio) }}" 
                class="municipio-item flex items-center justify-center p-8 bg-gradient-to-r from-blue-600 to-purple-500 text-white rounded-lg text-center hover:scale-105 transition-all w-full h-40 text-2xl font-semibold">
                {{ municipio }}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}